In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_data = pd.read_csv("train.csv")
print(csv_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [4]:
print(csv_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
print(csv_data.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [6]:
print(csv_data.tail(8))

     PassengerId  Survived  Pclass                                      Name  \
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket    Fare Cabin Embarked
883    male  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S
885  female  39.0      0      5            382652  29.125   NaN        Q
886    male  27.0      0      0            211536  13.000   NaN        S
887  female  19.0      0      0            112053  30.000   B42        S
888  female   NaN      1      2        W./C. 6607  23.450   NaN        S
889    male  26.0      0      0            111369  30.000  C148        C
890    male  32.0      0      0            370376   7.750   NaN        Q

In [7]:
print(csv_data.tail(-4))

     PassengerId  Survived  Pclass  \
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch      Ticket     Fare Cabin Embarked
4        0      373450   8.0500   NaN        S
5        0      330877   8.4583   NaN        Q
6        0       17463  51.8625   E46        S
7        1      349909  21.0750   NaN        S
8        2      347742  11.1333   NaN        S
..     ...         ...      ...   ...      ...
886      0      211536  13.0000   NaN        S
887      0      112053  30.0000   B42        S
888      2  W./C. 6607  23.4500   NaN        S
889      0      111369  30.0000  C148        C
890      0      370376   7.7500   NaN        Q

[887 rows x 12 columns]

In [8]:
print(csv_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
csv_data.index

RangeIndex(start=0, stop=891, step=1)

In [10]:
csv_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
csv_data.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [13]:
csv_data.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [14]:
csv_data.size

10692

In [15]:
csv_data.shape

(891, 12)

In [16]:
csv_data.empty

False

In [17]:
print(csv_data["Age"])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [18]:
print(csv_data["Age"].tail(4))

887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, dtype: float64

In [19]:
csv_data.loc[5,'Ticket']

'330877'

In [20]:
csv_data.loc[6,'Age']

54.0

In [21]:
csv_data.loc[4]

PassengerId                           5
Survived                              0
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                35.0
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object

In [22]:
print(csv_data.loc[2:5])

   PassengerId  Survived  Pclass  \
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3

                                           Name     Sex   Age  SibSp  Parch  \
2                        Heikkinen, Miss. Laina  female  26.0      0      0
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
4                      Allen, Mr. William Henry    male  35.0      0      0
5                              Moran, Mr. James    male   NaN      0      0

             Ticket     Fare Cabin Embarked
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S
5            330877   8.4583   NaN        Q

In [23]:
print(csv_data.iloc[3])

PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                    35.0
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object

In [24]:
print(csv_data["Age"].iloc[1])

38.0

In [25]:
print(csv_data.loc[5:10])

    PassengerId  Survived  Pclass  \
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch   Ticket     Fare Cabin Embarked
5       0   330877   8.4583   NaN        Q
6       0    17463  51.8625   E46        S
7       1   349909  21.0750   NaN        S
8       2   347742  11.1333   NaN        S
9       0   237736  30.0708   NaN        C
10      1  PP 9549  16.7000    G6        S

In [26]:
print(csv_data.iloc[5:10])

   PassengerId  Survived  Pclass  \
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch  Ticket     Fare Cabin Embarked
5      0  330877   8.4583   NaN        Q
6      0   17463  51.8625   E46        S
7      1  349909  21.0750   NaN        S
8      2  347742  11.1333   NaN        S
9      0  237736  30.0708   NaN        C

In [27]:
print(csv_data[csv_data.Genre=='Female'])

AttributeError: 'DataFrame' object has no attribute 'Genre'

In [28]:
print(csv_data[csv_data.Sex=='Female'])

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [29]:
print(csv_data[csv_data.Genre=='female'])

AttributeError: 'DataFrame' object has no attribute 'Genre'

In [30]:
print(csv_data[csv_data.sex=='female'])

AttributeError: 'DataFrame' object has no attribute 'sex'

In [31]:
print(csv_data[csv_data.Sex=='female'])

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
882      0              7552  10.5167   NaN        S
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S

[314 rows x 12 columns]

In [32]:
print(csv_data[(csv_data.Sex=='female') & (csv_data.Age>40)])

     PassengerId  Survived  Pclass  \
11            12         1       1
15            16         1       2
52            53         1       1
132          133         0       3
167          168         0       3
177          178         0       1
194          195         1       1
195          196         1       1
254          255         0       3
259          260         1       2
268          269         1       1
272          273         1       2
275          276         1       1
276          277         0       3
299          300         1       1
337          338         1       1
362          363         0       3
366          367         1       1
380          381         1       1
432          433         1       2
440          441         1       2
458          459         1       2
483          484         1       3
496          497         1       1
513          514         1       1
523          524         1       1
526          527         1       2
556          557         1       1
571          572         1       1
591          592         1       1
638          639         0       3
678          679         0       3
706          707         1       2
736          737         0       3
754          755         1       2
765          766         1       1
772          773         0       2
774          775         1       2
779          780         1       1
796          797         1       1
820          821         1       1
829          830         1       1
854          855         0       2
856          857         1       1
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
132     Robins, Mrs. Alexander A (Grace Charity Laury)  female  47.0      1
167    Skoog, Mrs. William (Anna Bernhardina Karlsson)  female  45.0      1
177                         Isham, Miss. Ann Elizabeth  female  50.0      0
194          Brown, Mrs. James Joseph (Margaret Tobin)  female  44.0      0
195                               Lurette, Miss. Elise  female  58.0      0
254           Rosblom, Mrs. Viktor (Helena Wilhelmina)  female  41.0      0
259                        Parrish, Mrs. (Lutie Davis)  female  50.0      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.0      0
272          Mellinger, Mrs. (Elizabeth Anne Maidment)  female  41.0      0
275                  Andrews, Miss. Kornelia Theodosia  female  63.0      1
276                  Lindblom, Miss. Augusta Charlotta  female  45.0      0
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
337                    Burns, Miss. Elizabeth Margaret  female  41.0      0
362                    Barbara, Mrs. (Catherine David)  female  45.0      0
366   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.0      1
380                              Bidois, Miss. Rosalie  female  42.0      0
432  Louch, Mrs. Charles Alexander (Alice Adelaide ...  female  42.0      1
440        Hart, Mrs. Benjamin (Esther Ada Bloomfield)  female  45.0      1
458                                Toomey, Miss. Ellen  female  50.0      0
483                             Turkula, Mrs. (Hedwig)  female  63.0      0
496                     Eustis, Miss. Elizabeth Mussey  female  54.0      1
513     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.0      1
523    Hippach, Mrs. Louis Albert (Ida Sophia Fischer)  female  44.0      0
526                               Ridsdale, Miss. Lucy  female  50.0      0
556  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female  48.0      1
571      Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.0      2
591    Stephenson, Mrs. Walter Bertram (Martha Eustis)  female  52.0      1
638             Panula, Mrs. Juha (Maria Emilia Ojala)  female  41.0      0
678            Goodwin, Mrs. Frederick (Augusta Tyler)  female  43.0      1
706                      Kelly, Mrs. Florence "Fannie"  female  45.0      0
736            Ford, Mrs. Edward (Margaret Ann Watson)  female  48.0      1
754                   Herman, Mrs. Samuel (Jane Laver)  female  48.0      1
765               Hogeboom, Mrs. John C (Anna Andrews)  female  51.0      1
772                                  Mack, Mrs. (Mary)  female  57.0      0
774              Hocking, Mrs. Elizabeth (Eliza Needs)  female  54.0      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0
796                        Leader, Dr. Alice (Farnham)  female  49.0      0
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
854      Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch        Ticket      Fare    Cabin Embarked
11       0        113783   26.5500     C103        S
15       0        248706   16.0000      NaN        S
52       0      PC 17572   76.7292      D33        C
132      0     A/5. 3337   14.5000      NaN        S
167      4        347088   27.9000      NaN        S
177      0      PC 17595   28.7125      C49        C
194      0      PC 17610   27.7208       B4        C
195      0      PC 17569  146.5208      B80        C
254      2        370129   20.2125      NaN        S
259      1        230433   26.0000      NaN        S
268      1      PC 17582  153.4625     C125        S
272      1        250644   19.5000      NaN        S
275      0         13502   77.9583       D7        S
276      0        347073    7.7500      NaN        S
299      1      PC 17558  247.5208  B58 B60        C
337      0         16966  134.5000      E40        C
362      1          2691   14.4542      NaN        C
366      0        110813   75.2500      D37        C
380      0      PC 17757  227.5250      NaN        C
432      0    SC/AH 3085   26.0000      NaN        S
440      1  F.C.C. 13529   26.2500      NaN        S
458      0  F.C.C. 13531   10.5000      NaN        S
483      0          4134    9.5875      NaN        S
496      0         36947   78.2667      D20        C
513      0      PC 17603   59.4000      NaN        C
523      1        111361   57.9792      B18        C
526      0   W./C. 14258   10.5000      NaN        S
556      0         11755   39.6000      A16        C
571      0         11769   51.4792     C101        S
591      0         36947   78.2667      D20        C
638      5       3101295   39.6875      NaN        S
678      6       CA 2144   46.9000      NaN        S
706      0        223596   13.5000      NaN        S
736      3    W./C. 6608   34.3750      NaN        S
754      2        220845   65.0000      NaN        S
765      0         13502   77.9583      D11        S
772      0   S.O./P.P. 3   10.5000      E77        S
774      3         29105   23.0000      NaN        S
779      1         24160  211.3375       B3        S
796      0         17465   25.9292      D17        S
820      1         12749   93.5000      B69        S
829      0        113572   80.0000      B28      NaN
854      0        244252   26.0000      NaN        S
856      1         36928  164.8667      NaN        S
862      0         17466   25.9292      D17        S
865      0        236852   13.0000      NaN        S
871      1         11751   52.5542      D35        S
879      1         11767   83.1583      C50        C

In [33]:
csv_data[csv_data.Genre.str.startswith('M')]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [34]:
csv_data[csv_data.sex.str.startswith('m')]

AttributeError: 'DataFrame' object has no attribute 'sex'

In [35]:
csv_data[csv_data.Sex.str.startswith('m')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [36]:
csv_data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [37]:
csv_data.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [38]:
print(csv_data.isnull().values.any())

True

In [39]:
print(csv_data.isnull().values.any())

True

In [ ]:
data_missing.dropna()

In [4]:
print(csv_data.isnull().values.any())

True

In [5]:
csv_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [3]:
csv_data['Sex'].unique()

array(['male', 'female'], dtype=object)

In [22]:
csv_data.replace(['male','female'],[1,0])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
csv_data['Encoded_Name']=label_encoder.fit_transform(csv_data['Name'])
csv_data['Sex']=label_encoder.fit_transform(csv_data['Sex'])
print(csv_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    1  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1
2                               Heikkinen, Miss. Laina    0  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1
4                             Allen, Mr. William Henry    1  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    1  27.0      0
887                       Graham, Miss. Margaret Edith    0  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   NaN      1
889                              Behr, Mr. Karl Howell    1  26.0      0
890                                Dooley, Mr. Patrick    1  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Encoded_Name
0        0         A/5 21171   7.2500   NaN        S           108
1        0          PC 17599  71.2833   C85        C           190
2        0  STON/O2. 3101282   7.9250   NaN        S           353
3        0            113803  53.1000  C123        S           272
4        0            373450   8.0500   NaN        S            15
..     ...               ...      ...   ...      ...           ...
886      0            211536  13.0000   NaN        S           548
887      0            112053  30.0000   B42        S           303
888      2        W./C. 6607  23.4500   NaN        S           413
889      0            111369  30.0000  C148        C            81
890      0            370376   7.7500   NaN        Q           220

[891 rows x 13 columns]

In [26]:
import numpy as np
import pandas as pd
df_ohe= pd.get_dummies(csv_data,columns=['Sex'])
print(df_ohe)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name   Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris  22.0      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                               Heikkinen, Miss. Laina  26.0      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                             Allen, Mr. William Henry  35.0      0      0
..                                                 ...   ...    ...    ...
886                              Montvila, Rev. Juozas  27.0      0      0
887                       Graham, Miss. Margaret Edith  19.0      0      0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN      1      2
889                              Behr, Mr. Karl Howell  26.0      0      0
890                                Dooley, Mr. Patrick  32.0      0      0

               Ticket     Fare Cabin Embarked  Encoded_Name  Sex_0  Sex_1
0           A/5 21171   7.2500   NaN        S           108      0      1
1            PC 17599  71.2833   C85        C           190      1      0
2    STON/O2. 3101282   7.9250   NaN        S           353      1      0
3              113803  53.1000  C123        S           272      1      0
4              373450   8.0500   NaN        S            15      0      1
..                ...      ...   ...      ...           ...    ...    ...
886            211536  13.0000   NaN        S           548      0      1
887            112053  30.0000   B42        S           303      1      0
888        W./C. 6607  23.4500   NaN        S           413      1      0
889            111369  30.0000  C148        C            81      0      1
890            370376   7.7500   NaN        Q           220      0      1

[891 rows x 14 columns]

In [21]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False,handle_unknown='error')
ohe_df=ohe.fit_transform(csv_data[['Sex']])
print(ohe_df)

[[0. 1.]
 [1. 0.]
 [1. 0.]
 ...
 [1. 0.]
 [0. 1.]
 [0. 1.]]

In [4]:
df1 = pd.read_csv("ai_impact_student_performance_dataset.csv")
df2 = pd.read_csv("Exam_Score_Prediction.csv")

In [5]:
d1.head()

NameError: name 'd1' is not defined

In [6]:
df1.head()

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,None,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
1,2,17,Male,12th,3.4,1,123,None,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low

In [7]:
df2.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [9]:
print(pd.merge(df1,df2,on='student_id'))

      student_id  age_x gender_x grade_level  study_hours_per_day  uses_ai  \
0              1     20   Female    1st Year                  2.5        1
1              2     17     Male        12th                  3.4        1
2              3     24     Male    3rd Year                  0.8        0
3              4     21   Female        12th                  4.4        0
4              5     18    Other    3rd Year                  3.5        1
...          ...    ...      ...         ...                  ...      ...
7995        7996     23     Male    3rd Year                  3.0        0
7996        7997     21    Other    1st Year                  3.3        0
7997        7998     24     Male    3rd Year                  1.6        0
7998        7999     22   Female    2nd Year                  5.5        0
7999        8000     15     Male        12th                  4.6        0

      ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                       170            None        Exam Prep
1                       123            None            Notes
2                        35         Copilot    Doubt Solving
3                        45  ChatGPT+Gemini            Notes
4                        21  ChatGPT+Gemini           Coding
...                     ...             ...              ...
7995                    178          Gemini             None
7996                     63          Claude        Exam Prep
7997                    113         ChatGPT           Coding
7998                     21         Copilot           Coding
7999                     42            None             None

      ai_dependency_score  ...   course  study_hours  class_attendance  \
0                      10  ...  diploma         2.78              92.9
1                       4  ...      bca         3.37              64.8
2                       8  ...     b.sc         7.88              76.8
3                       3  ...  diploma         0.67              48.4
4                       2  ...  diploma         0.89              71.6
...                   ...  ...      ...          ...               ...
7995                    6  ...      bca         4.43              77.5
7996                   10  ...       ba         0.16              75.3
7997                    5  ...    b.com         4.48              49.0
7998                    5  ...       ba         6.23              55.9
7999                    9  ...       ba         7.91              65.9

      internet_access  sleep_hours_y  sleep_quality   study_method  \
0                 yes            7.4           poor       coaching
1                 yes            4.6        average  online videos
2                 yes            8.5           poor       coaching
3                 yes            5.8        average  online videos
4                 yes            9.8           poor       coaching
...               ...            ...            ...            ...
7995              yes            4.7        average    group study
7996              yes            5.9           poor  online videos
7997               no            7.4           poor       coaching
7998              yes            4.8        average          mixed
7999              yes            8.5        average     self-study

      facility_rating  exam_difficulty  exam_score
0                 low             hard        58.9
1              medium         moderate        54.8
2                high         moderate        90.3
3                 low         moderate        29.7
4                 low         moderate        43.7
...               ...              ...         ...
7995             high             hard        57.0
7996              low             easy        37.2
7997           medium         moderate        50.1
7998             high         moderate        71.6
7999             high             hard        74.5

[8000 rows x 38 columns]

In [10]:
#Merge Two DataFrames on Multiple Keys
print(pd.merge(df1,df2,on=['gender','student_id']))

Empty DataFrame
Columns: [student_id, age_x, gender, grade_level, study_hours_per_day, uses_ai, ai_usage_time_minutes, ai_tools_used, ai_usage_purpose, ai_dependency_score, ai_generated_content_percentage, ai_prompts_per_week, ai_ethics_score, last_exam_score, assignment_scores_avg, attendance_percentage, concept_understanding_score, study_consistency_index, improvement_rate, sleep_hours_x, social_media_hours, tutoring_hours, class_participation_score, final_score, passed, performance_category, age_y, course, study_hours, class_attendance, internet_access, sleep_hours_y, sleep_quality, study_method, facility_rating, exam_difficulty, exam_score]
Index: []

[0 rows x 37 columns]

In [11]:
#Merge Two DataFrames on Multiple Keys
print(pd.merge(df1,df2,on=['age','student_id']))

     student_id  age gender_x grade_level  study_hours_per_day  uses_ai  \
0            21   21     Male        12th                  5.9        1
1            22   19   Female    1st Year                  1.5        1
2            41   18   Female    1st Year                  1.2        1
3            45   17     Male    3rd Year                  1.4        1
4            49   22     Male        12th                  5.8        0
..          ...  ...      ...         ...                  ...      ...
729        7941   22     Male        10th                  2.7        0
730        7955   22    Other    3rd Year                  4.1        0
731        7963   21   Female    1st Year                  4.2        0
732        7967   18   Female        11th                  1.2        1
733        7995   23     Male        11th                  3.5        1

     ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      151  ChatGPT+Gemini        Exam Prep
1                      124            None             None
2                      176         Copilot        Exam Prep
3                       92         Copilot           Coding
4                       95          Gemini           Coding
..                     ...             ...              ...
729                     29            None         Homework
730                    131  ChatGPT+Gemini           Coding
731                     56         Copilot    Doubt Solving
732                    104          Gemini             None
733                     39         ChatGPT         Homework

     ai_dependency_score  ...   course  study_hours  class_attendance  \
0                      4  ...       ba         5.23              60.4
1                      8  ...       ba         1.70              70.4
2                      4  ...  diploma         5.89              69.3
3                      2  ...     b.sc         0.75              72.0
4                      1  ...     b.sc         0.90              74.5
..                   ...  ...      ...          ...               ...
729                    4  ...       ba         2.95              71.9
730                    5  ...  diploma         6.92              40.8
731                    3  ...    b.com         1.78              68.9
732                    7  ...    b.com         7.28              74.6
733                    4  ...      bba         5.00              80.3

     internet_access  sleep_hours_y  sleep_quality   study_method  \
0                yes            4.2           poor       coaching
1                yes            9.8           good          mixed
2                yes            9.5        average          mixed
3                yes            5.1        average    group study
4                yes            5.5           poor          mixed
..               ...            ...            ...            ...
729              yes            6.7           good  online videos
730              yes            8.2           good    group study
731              yes            8.0           good     self-study
732              yes            6.1        average    group study
733              yes            4.7           poor     self-study

     facility_rating  exam_difficulty  exam_score
0             medium             easy        68.1
1                low             easy        52.1
2             medium         moderate        67.6
3             medium         moderate        42.8
4               high         moderate        30.9
..               ...              ...         ...
729             high         moderate        58.7
730             high             easy        73.8
731             high             easy        61.7
732              low         moderate        91.5
733           medium             hard        47.3

[734 rows x 37 columns]

In [12]:
print(pd.merge(df1,df2,on='student_id',how='left'))

      student_id  age_x gender_x grade_level  study_hours_per_day  uses_ai  \
0              1     20   Female    1st Year                  2.5        1
1              2     17     Male        12th                  3.4        1
2              3     24     Male    3rd Year                  0.8        0
3              4     21   Female        12th                  4.4        0
4              5     18    Other    3rd Year                  3.5        1
...          ...    ...      ...         ...                  ...      ...
7995        7996     23     Male    3rd Year                  3.0        0
7996        7997     21    Other    1st Year                  3.3        0
7997        7998     24     Male    3rd Year                  1.6        0
7998        7999     22   Female    2nd Year                  5.5        0
7999        8000     15     Male        12th                  4.6        0

      ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                       170            None        Exam Prep
1                       123            None            Notes
2                        35         Copilot    Doubt Solving
3                        45  ChatGPT+Gemini            Notes
4                        21  ChatGPT+Gemini           Coding
...                     ...             ...              ...
7995                    178          Gemini             None
7996                     63          Claude        Exam Prep
7997                    113         ChatGPT           Coding
7998                     21         Copilot           Coding
7999                     42            None             None

      ai_dependency_score  ...   course  study_hours  class_attendance  \
0                      10  ...  diploma         2.78              92.9
1                       4  ...      bca         3.37              64.8
2                       8  ...     b.sc         7.88              76.8
3                       3  ...  diploma         0.67              48.4
4                       2  ...  diploma         0.89              71.6
...                   ...  ...      ...          ...               ...
7995                    6  ...      bca         4.43              77.5
7996                   10  ...       ba         0.16              75.3
7997                    5  ...    b.com         4.48              49.0
7998                    5  ...       ba         6.23              55.9
7999                    9  ...       ba         7.91              65.9

      internet_access  sleep_hours_y  sleep_quality   study_method  \
0                 yes            7.4           poor       coaching
1                 yes            4.6        average  online videos
2                 yes            8.5           poor       coaching
3                 yes            5.8        average  online videos
4                 yes            9.8           poor       coaching
...               ...            ...            ...            ...
7995              yes            4.7        average    group study
7996              yes            5.9           poor  online videos
7997               no            7.4           poor       coaching
7998              yes            4.8        average          mixed
7999              yes            8.5        average     self-study

      facility_rating  exam_difficulty  exam_score
0                 low             hard        58.9
1              medium         moderate        54.8
2                high         moderate        90.3
3                 low         moderate        29.7
4                 low         moderate        43.7
...               ...              ...         ...
7995             high             hard        57.0
7996              low             easy        37.2
7997           medium         moderate        50.1
7998             high         moderate        71.6
7999             high             hard        74.5

[8000 rows x 38 columns]

In [13]:
print(pd.merge(df1,df2,on='student_id',how='right'))

       student_id  age_x gender_x grade_level  study_hours_per_day  uses_ai  \
0               1   20.0   Female    1st Year                  2.5      1.0
1               2   17.0     Male        12th                  3.4      1.0
2               3   24.0     Male    3rd Year                  0.8      0.0
3               4   21.0   Female        12th                  4.4      0.0
4               5   18.0    Other    3rd Year                  3.5      1.0
...           ...    ...      ...         ...                  ...      ...
19995       19997    NaN      NaN         NaN                  NaN      NaN
19996       19998    NaN      NaN         NaN                  NaN      NaN
19997       19999    NaN      NaN         NaN                  NaN      NaN
19998       20000    NaN      NaN         NaN                  NaN      NaN
19999       20001    NaN      NaN         NaN                  NaN      NaN

       ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      170.0            None        Exam Prep
1                      123.0            None            Notes
2                       35.0         Copilot    Doubt Solving
3                       45.0  ChatGPT+Gemini            Notes
4                       21.0  ChatGPT+Gemini           Coding
...                      ...             ...              ...
19995                    NaN             NaN              NaN
19996                    NaN             NaN              NaN
19997                    NaN             NaN              NaN
19998                    NaN             NaN              NaN
19999                    NaN             NaN              NaN

       ai_dependency_score  ...   course  study_hours  class_attendance  \
0                     10.0  ...  diploma         2.78              92.9
1                      4.0  ...      bca         3.37              64.8
2                      8.0  ...     b.sc         7.88              76.8
3                      3.0  ...  diploma         0.67              48.4
4                      2.0  ...  diploma         0.89              71.6
...                    ...  ...      ...          ...               ...
19995                  NaN  ...      bba         6.50              71.3
19996                  NaN  ...    b.com         3.71              41.6
19997                  NaN  ...  diploma         7.88              68.2
19998                  NaN  ...      bba         4.60              76.3
19999                  NaN  ...     b.sc         7.50              47.9

       internet_access  sleep_hours_y  sleep_quality   study_method  \
0                  yes            7.4           poor       coaching
1                  yes            4.6        average  online videos
2                  yes            8.5           poor       coaching
3                  yes            5.8        average  online videos
4                  yes            9.8           poor       coaching
...                ...            ...            ...            ...
19995              yes            5.0           good     self-study
19996               no            5.9        average       coaching
19997              yes            4.6           poor    group study
19998               no            6.1           good     self-study
19999              yes            7.5           poor       coaching

       facility_rating  exam_difficulty  exam_score
0                  low             hard        58.9
1               medium         moderate        54.8
2                 high         moderate        90.3
3                  low         moderate        29.7
4                  low         moderate        43.7
...                ...              ...         ...
19995              low             easy        86.5
19996           medium         moderate        60.9
19997              low             easy        64.5
19998           medium         moderate        79.0
19999           medium         moderate        71.0

[20000 rows x 38 columns]

In [14]:
print(pd.merge(df1,df2,on='student_id',how='inner'))

      student_id  age_x gender_x grade_level  study_hours_per_day  uses_ai  \
0              1     20   Female    1st Year                  2.5        1
1              2     17     Male        12th                  3.4        1
2              3     24     Male    3rd Year                  0.8        0
3              4     21   Female        12th                  4.4        0
4              5     18    Other    3rd Year                  3.5        1
...          ...    ...      ...         ...                  ...      ...
7995        7996     23     Male    3rd Year                  3.0        0
7996        7997     21    Other    1st Year                  3.3        0
7997        7998     24     Male    3rd Year                  1.6        0
7998        7999     22   Female    2nd Year                  5.5        0
7999        8000     15     Male        12th                  4.6        0

      ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                       170            None        Exam Prep
1                       123            None            Notes
2                        35         Copilot    Doubt Solving
3                        45  ChatGPT+Gemini            Notes
4                        21  ChatGPT+Gemini           Coding
...                     ...             ...              ...
7995                    178          Gemini             None
7996                     63          Claude        Exam Prep
7997                    113         ChatGPT           Coding
7998                     21         Copilot           Coding
7999                     42            None             None

      ai_dependency_score  ...   course  study_hours  class_attendance  \
0                      10  ...  diploma         2.78              92.9
1                       4  ...      bca         3.37              64.8
2                       8  ...     b.sc         7.88              76.8
3                       3  ...  diploma         0.67              48.4
4                       2  ...  diploma         0.89              71.6
...                   ...  ...      ...          ...               ...
7995                    6  ...      bca         4.43              77.5
7996                   10  ...       ba         0.16              75.3
7997                    5  ...    b.com         4.48              49.0
7998                    5  ...       ba         6.23              55.9
7999                    9  ...       ba         7.91              65.9

      internet_access  sleep_hours_y  sleep_quality   study_method  \
0                 yes            7.4           poor       coaching
1                 yes            4.6        average  online videos
2                 yes            8.5           poor       coaching
3                 yes            5.8        average  online videos
4                 yes            9.8           poor       coaching
...               ...            ...            ...            ...
7995              yes            4.7        average    group study
7996              yes            5.9           poor  online videos
7997               no            7.4           poor       coaching
7998              yes            4.8        average          mixed
7999              yes            8.5        average     self-study

      facility_rating  exam_difficulty  exam_score
0                 low             hard        58.9
1              medium         moderate        54.8
2                high         moderate        90.3
3                 low         moderate        29.7
4                 low         moderate        43.7
...               ...              ...         ...
7995             high             hard        57.0
7996              low             easy        37.2
7997           medium         moderate        50.1
7998             high         moderate        71.6
7999             high             hard        74.5

[8000 rows x 38 columns]

In [15]:
print(pd.merge(df1,df2,on='student_id',how='outer'))

       student_id  age_x gender_x grade_level  study_hours_per_day  uses_ai  \
0               1   20.0   Female    1st Year                  2.5      1.0
1               2   17.0     Male        12th                  3.4      1.0
2               3   24.0     Male    3rd Year                  0.8      0.0
3               4   21.0   Female        12th                  4.4      0.0
4               5   18.0    Other    3rd Year                  3.5      1.0
...           ...    ...      ...         ...                  ...      ...
19995       19997    NaN      NaN         NaN                  NaN      NaN
19996       19998    NaN      NaN         NaN                  NaN      NaN
19997       19999    NaN      NaN         NaN                  NaN      NaN
19998       20000    NaN      NaN         NaN                  NaN      NaN
19999       20001    NaN      NaN         NaN                  NaN      NaN

       ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      170.0            None        Exam Prep
1                      123.0            None            Notes
2                       35.0         Copilot    Doubt Solving
3                       45.0  ChatGPT+Gemini            Notes
4                       21.0  ChatGPT+Gemini           Coding
...                      ...             ...              ...
19995                    NaN             NaN              NaN
19996                    NaN             NaN              NaN
19997                    NaN             NaN              NaN
19998                    NaN             NaN              NaN
19999                    NaN             NaN              NaN

       ai_dependency_score  ...   course  study_hours  class_attendance  \
0                     10.0  ...  diploma         2.78              92.9
1                      4.0  ...      bca         3.37              64.8
2                      8.0  ...     b.sc         7.88              76.8
3                      3.0  ...  diploma         0.67              48.4
4                      2.0  ...  diploma         0.89              71.6
...                    ...  ...      ...          ...               ...
19995                  NaN  ...      bba         6.50              71.3
19996                  NaN  ...    b.com         3.71              41.6
19997                  NaN  ...  diploma         7.88              68.2
19998                  NaN  ...      bba         4.60              76.3
19999                  NaN  ...     b.sc         7.50              47.9

       internet_access  sleep_hours_y  sleep_quality   study_method  \
0                  yes            7.4           poor       coaching
1                  yes            4.6        average  online videos
2                  yes            8.5           poor       coaching
3                  yes            5.8        average  online videos
4                  yes            9.8           poor       coaching
...                ...            ...            ...            ...
19995              yes            5.0           good     self-study
19996               no            5.9        average       coaching
19997              yes            4.6           poor    group study
19998               no            6.1           good     self-study
19999              yes            7.5           poor       coaching

       facility_rating  exam_difficulty  exam_score
0                  low             hard        58.9
1               medium         moderate        54.8
2                 high         moderate        90.3
3                  low         moderate        29.7
4                  low         moderate        43.7
...                ...              ...         ...
19995              low             easy        86.5
19996           medium         moderate        60.9
19997              low             easy        64.5
19998           medium         moderate        79.0
19999           medium         moderate        71.0

[20000 rows x 38 columns]

In [16]:
print(pd.concat([df1,df2]))

       student_id  age  gender grade_level  study_hours_per_day  uses_ai  \
0               1   20  Female    1st Year                  2.5      1.0
1               2   17    Male        12th                  3.4      1.0
2               3   24    Male    3rd Year                  0.8      0.0
3               4   21  Female        12th                  4.4      0.0
4               5   18   Other    3rd Year                  3.5      1.0
...           ...  ...     ...         ...                  ...      ...
19995       19997   18   other         NaN                  NaN      NaN
19996       19998   18    male         NaN                  NaN      NaN
19997       19999   19   other         NaN                  NaN      NaN
19998       20000   19    male         NaN                  NaN      NaN
19999       20001   20    male         NaN                  NaN      NaN

       ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      170.0            None        Exam Prep
1                      123.0            None            Notes
2                       35.0         Copilot    Doubt Solving
3                       45.0  ChatGPT+Gemini            Notes
4                       21.0  ChatGPT+Gemini           Coding
...                      ...             ...              ...
19995                    NaN             NaN              NaN
19996                    NaN             NaN              NaN
19997                    NaN             NaN              NaN
19998                    NaN             NaN              NaN
19999                    NaN             NaN              NaN

       ai_dependency_score  ...  performance_category   course  study_hours  \
0                     10.0  ...                   Low      NaN          NaN
1                      4.0  ...                Medium      NaN          NaN
2                      8.0  ...                Medium      NaN          NaN
3                      3.0  ...                Medium      NaN          NaN
4                      2.0  ...                   Low      NaN          NaN
...                    ...  ...                   ...      ...          ...
19995                  NaN  ...                   NaN      bba         6.50
19996                  NaN  ...                   NaN    b.com         3.71
19997                  NaN  ...                   NaN  diploma         7.88
19998                  NaN  ...                   NaN      bba         4.60
19999                  NaN  ...                   NaN     b.sc         7.50

       class_attendance  internet_access  sleep_quality  study_method  \
0                   NaN              NaN            NaN           NaN
1                   NaN              NaN            NaN           NaN
2                   NaN              NaN            NaN           NaN
3                   NaN              NaN            NaN           NaN
4                   NaN              NaN            NaN           NaN
...                 ...              ...            ...           ...
19995              71.3              yes           good    self-study
19996              41.6               no        average      coaching
19997              68.2              yes           poor   group study
19998              76.3               no           good    self-study
19999              47.9              yes           poor      coaching

       facility_rating  exam_difficulty  exam_score
0                  NaN              NaN         NaN
1                  NaN              NaN         NaN
2                  NaN              NaN         NaN
3                  NaN              NaN         NaN
4                  NaN              NaN         NaN
...                ...              ...         ...
19995              low             easy        86.5
19996           medium         moderate        60.9
19997              low             easy        64.5
19998           medium         moderate        79.0
19999           medium         moderate        71.0

[28000 rows x 35 columns]

In [17]:
print(pd.concat([df1,df2],keys=['x','y'])) #to associate specific keys

         student_id  age  gender grade_level  study_hours_per_day  uses_ai  \
x 0               1   20  Female    1st Year                  2.5      1.0
  1               2   17    Male        12th                  3.4      1.0
  2               3   24    Male    3rd Year                  0.8      0.0
  3               4   21  Female        12th                  4.4      0.0
  4               5   18   Other    3rd Year                  3.5      1.0
...             ...  ...     ...         ...                  ...      ...
y 19995       19997   18   other         NaN                  NaN      NaN
  19996       19998   18    male         NaN                  NaN      NaN
  19997       19999   19   other         NaN                  NaN      NaN
  19998       20000   19    male         NaN                  NaN      NaN
  19999       20001   20    male         NaN                  NaN      NaN

         ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
x 0                      170.0            None        Exam Prep
  1                      123.0            None            Notes
  2                       35.0         Copilot    Doubt Solving
  3                       45.0  ChatGPT+Gemini            Notes
  4                       21.0  ChatGPT+Gemini           Coding
...                        ...             ...              ...
y 19995                    NaN             NaN              NaN
  19996                    NaN             NaN              NaN
  19997                    NaN             NaN              NaN
  19998                    NaN             NaN              NaN
  19999                    NaN             NaN              NaN

         ai_dependency_score  ...  performance_category   course  study_hours  \
x 0                     10.0  ...                   Low      NaN          NaN
  1                      4.0  ...                Medium      NaN          NaN
  2                      8.0  ...                Medium      NaN          NaN
  3                      3.0  ...                Medium      NaN          NaN
  4                      2.0  ...                   Low      NaN          NaN
...                      ...  ...                   ...      ...          ...
y 19995                  NaN  ...                   NaN      bba         6.50
  19996                  NaN  ...                   NaN    b.com         3.71
  19997                  NaN  ...                   NaN  diploma         7.88
  19998                  NaN  ...                   NaN      bba         4.60
  19999                  NaN  ...                   NaN     b.sc         7.50

         class_attendance  internet_access  sleep_quality  study_method  \
x 0                   NaN              NaN            NaN           NaN
  1                   NaN              NaN            NaN           NaN
  2                   NaN              NaN            NaN           NaN
  3                   NaN              NaN            NaN           NaN
  4                   NaN              NaN            NaN           NaN
...                   ...              ...            ...           ...
y 19995              71.3              yes           good    self-study
  19996              41.6               no        average      coaching
  19997              68.2              yes           poor   group study
  19998              76.3               no           good    self-study
  19999              47.9              yes           poor      coaching

         facility_rating  exam_difficulty  exam_score
x 0                  NaN              NaN         NaN
  1                  NaN              NaN         NaN
  2                  NaN              NaN         NaN
  3                  NaN              NaN         NaN
  4                  NaN              NaN         NaN
...                  ...              ...         ...
y 19995              low             easy        86.5
  19996           medium         moderate        60.9
  19997              low             easy        64.5
  19998           medium         moderate        79.0
  19999           medium         moderate        71.0

[28000 rows x 35 columns]

In [18]:
print(pd.concat([df1,df2],keys=['x','y'], ignore_index=True)) #ignore_index to True.

       student_id  age  gender grade_level  study_hours_per_day  uses_ai  \
0               1   20  Female    1st Year                  2.5      1.0
1               2   17    Male        12th                  3.4      1.0
2               3   24    Male    3rd Year                  0.8      0.0
3               4   21  Female        12th                  4.4      0.0
4               5   18   Other    3rd Year                  3.5      1.0
...           ...  ...     ...         ...                  ...      ...
27995       19997   18   other         NaN                  NaN      NaN
27996       19998   18    male         NaN                  NaN      NaN
27997       19999   19   other         NaN                  NaN      NaN
27998       20000   19    male         NaN                  NaN      NaN
27999       20001   20    male         NaN                  NaN      NaN

       ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      170.0            None        Exam Prep
1                      123.0            None            Notes
2                       35.0         Copilot    Doubt Solving
3                       45.0  ChatGPT+Gemini            Notes
4                       21.0  ChatGPT+Gemini           Coding
...                      ...             ...              ...
27995                    NaN             NaN              NaN
27996                    NaN             NaN              NaN
27997                    NaN             NaN              NaN
27998                    NaN             NaN              NaN
27999                    NaN             NaN              NaN

       ai_dependency_score  ...  performance_category   course  study_hours  \
0                     10.0  ...                   Low      NaN          NaN
1                      4.0  ...                Medium      NaN          NaN
2                      8.0  ...                Medium      NaN          NaN
3                      3.0  ...                Medium      NaN          NaN
4                      2.0  ...                   Low      NaN          NaN
...                    ...  ...                   ...      ...          ...
27995                  NaN  ...                   NaN      bba         6.50
27996                  NaN  ...                   NaN    b.com         3.71
27997                  NaN  ...                   NaN  diploma         7.88
27998                  NaN  ...                   NaN      bba         4.60
27999                  NaN  ...                   NaN     b.sc         7.50

       class_attendance  internet_access  sleep_quality  study_method  \
0                   NaN              NaN            NaN           NaN
1                   NaN              NaN            NaN           NaN
2                   NaN              NaN            NaN           NaN
3                   NaN              NaN            NaN           NaN
4                   NaN              NaN            NaN           NaN
...                 ...              ...            ...           ...
27995              71.3              yes           good    self-study
27996              41.6               no        average      coaching
27997              68.2              yes           poor   group study
27998              76.3               no           good    self-study
27999              47.9              yes           poor      coaching

       facility_rating  exam_difficulty  exam_score
0                  NaN              NaN         NaN
1                  NaN              NaN         NaN
2                  NaN              NaN         NaN
3                  NaN              NaN         NaN
4                  NaN              NaN         NaN
...                ...              ...         ...
27995              low             easy        86.5
27996           medium         moderate        60.9
27997              low             easy        64.5
27998           medium         moderate        79.0
27999           medium         moderate        71.0

[28000 rows x 35 columns]

In [19]:
print(pd.concat([df1,df2],axis=1))

       student_id   age  gender grade_level  study_hours_per_day  uses_ai  \
0             1.0  20.0  Female    1st Year                  2.5      1.0
1             2.0  17.0    Male        12th                  3.4      1.0
2             3.0  24.0    Male    3rd Year                  0.8      0.0
3             4.0  21.0  Female        12th                  4.4      0.0
4             5.0  18.0   Other    3rd Year                  3.5      1.0
...           ...   ...     ...         ...                  ...      ...
19995         NaN   NaN     NaN         NaN                  NaN      NaN
19996         NaN   NaN     NaN         NaN                  NaN      NaN
19997         NaN   NaN     NaN         NaN                  NaN      NaN
19998         NaN   NaN     NaN         NaN                  NaN      NaN
19999         NaN   NaN     NaN         NaN                  NaN      NaN

       ai_usage_time_minutes   ai_tools_used ai_usage_purpose  \
0                      170.0            None        Exam Prep
1                      123.0            None            Notes
2                       35.0         Copilot    Doubt Solving
3                       45.0  ChatGPT+Gemini            Notes
4                       21.0  ChatGPT+Gemini           Coding
...                      ...             ...              ...
19995                    NaN             NaN              NaN
19996                    NaN             NaN              NaN
19997                    NaN             NaN              NaN
19998                    NaN             NaN              NaN
19999                    NaN             NaN              NaN

       ai_dependency_score  ...   course  study_hours  class_attendance  \
0                     10.0  ...  diploma         2.78              92.9
1                      4.0  ...      bca         3.37              64.8
2                      8.0  ...     b.sc         7.88              76.8
3                      3.0  ...  diploma         0.67              48.4
4                      2.0  ...  diploma         0.89              71.6
...                    ...  ...      ...          ...               ...
19995                  NaN  ...      bba         6.50              71.3
19996                  NaN  ...    b.com         3.71              41.6
19997                  NaN  ...  diploma         7.88              68.2
19998                  NaN  ...      bba         4.60              76.3
19999                  NaN  ...     b.sc         7.50              47.9

       internet_access  sleep_hours  sleep_quality   study_method  \
0                  yes          7.4           poor       coaching
1                  yes          4.6        average  online videos
2                  yes          8.5           poor       coaching
3                  yes          5.8        average  online videos
4                  yes          9.8           poor       coaching
...                ...          ...            ...            ...
19995              yes          5.0           good     self-study
19996               no          5.9        average       coaching
19997              yes          4.6           poor    group study
19998               no          6.1           good     self-study
19999              yes          7.5           poor       coaching

       facility_rating  exam_difficulty  exam_score
0                  low             hard        58.9
1               medium         moderate        54.8
2                 high         moderate        90.3
3                  low         moderate        29.7
4                  low         moderate        43.7
...                ...              ...         ...
19995              low             easy        86.5
19996           medium         moderate        60.9
19997              low             easy        64.5
19998           medium         moderate        79.0
19999           medium         moderate        71.0

[20000 rows x 39 columns]